/* from w3, overflow makes the bar take up space;
background color is the bar color; padding can influence bar width, space around words (content/text)*/
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  
  /* from w3 schools, to style the header links (nav links) 
  just put the class selector, class, then sub-element (a tag)*/
  .header a {
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
    float: left;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: #000000;
  }
  
  .header {
    width: 100%;
  }

  .header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    float: right;
    border: none;
    font-size: 17px;
  }

h2{
    margin: 10px 10px 30px 10px;
    text-align: center;  
    font-family: 'DotGothic16', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #ff00ff;

  }
@keyframes h3 {
    from {background-color:#ffc0cb;}
    to {background-color:#daa520;}
  }
  
.h3{
  width: 100x;
  height: 100px;
  background-color: hsl(350, 100%, 88%);
  animation-name: h3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.h3{
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}

h4{
  display: block;
}
.dash{
  margin: 5px 5px 0px 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #dbacd9;
  border-radius: 2%;
  border-width: 2px;
  border-style: solid;
  border-color: #ff00ff;
  color:#ff00ff;
  text-align: center;
  float: left;
  font-family: 'DotGothic16', sans-serif;
}

.buttons{
  width: 250px;
  height: 600px;
}

.btn{
  color: #ff00ff;
  margin: 10px 30px 10px 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20x;
  border-radius: 5%;

}

p.beyonce{
    font-family: 'DotGothic16', sans-serif;
    font-size: small;
    position:static;
    text-align: left;
    padding-top: 10px;
}


.vid{
  margin-top: 10px;
  text-align: center;
}

.footer{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    float: center;
    background-color: black;
    text-align: center;
}

.footer a{
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
    position:static;
    font-family:'Kanit', sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    border:hotpink;
    border-style: solid;
    border-width: 4px;

}

.footer a:hover {
  color:blueviolet;
  background-color: chartreuse;
}
